
##	Do extended regular expression searches by default.
set regexp

##	Use this tab size
set tabsize 4

##	Convert typed tabs to spaces.
set tabstospaces

##	Detect word boundaries more accurately by treating punctuation
##	characters as parts of words.
set wordbounds

##	include files
#include "/usr/share/nano/*.nanorc"
include ~/.nano/syntax/ALL.nanorc
