
##	Convert typed tabs to spaces.
##	Detect word boundaries more accurately by treating punctuation
##	Do extended regular expression searches by default.
##	Use this tab size
##	characters as parts of words.
##	include the best syntax highlighting available

include ~/.nano/syntax/ALL.nanorc
set regexp
set tabsize 4
set tabstospaces
set wordbounds
